.QuestionList{
  display: flex;
  flex: 4;
  padding: 10px;
  flex-direction: column;
}

.QuestionListItemContainer{
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.ButtonsContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}