.QuestionList{
  display: flex;
  flex: 4;
  flex-direction: column;
  background-color: rgb(102, 141, 173);
  color: white;
  overflow: scroll; 
  height: 100%;
}

.QuestionListContainer {
  flex: 3;
}

.QuestionListMobileDisplay {
  display: flex !important;
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.QuestionListItemContainer{
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.QuestionIndex {
  padding: 10px;
  font-size: 30px;
}

.ButtonsContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.QuestionListButton {
  display: none;
}

@media only screen and (max-width: 700px) {
  .QuestionList {
    display: none;
    flex: none;
  }
  .QuestionListButton {
    display: block;
    position: absolute;
    top: 15;
    left: 15;
  }

  .QuestionListContainer {
    flex: none;
  }
}
