.QuestionList{
  display: flex;
  flex: 4;
  flex-direction: column;
  background-color: rgb(102, 141, 173);
  color: white;
  overflow: scroll;  
}

.QuestionListItemContainer{
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.QuestionIndex {
  padding: 10px;
  font-size: 30px;
}

.ButtonsContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
