.Button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: steelblue;
  border-radius: 5px;
  padding: 20px; 
}
.Button:hover{
  opacity: 0.7;
}

.ButtonLabel{
  font-size: 17px;
  color: white;
}