.QuestionEditor{
  display: flex;
  flex: 8;
  background-color: white;
  flex-direction: column;
  overflow: scroll;
}

.divider {
  height: 1px;
  background-color: #333;
  margin: 20px 0;
}

.OptionContainer {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
