.QuestionEditor{
  display: flex;
  flex: 8;
  background-color: rgb(223, 223, 223);
  padding: 30px;
  flex-direction: column;
}

.divider {
  height: 1px;
  background-color: #333;
  margin: 20px 0;
}

.OptionContainer {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
